#topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  width: 100vw;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
  margin-top: 0;
  font-size: 10px;
}

#topbar a {
  color: black;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin-right: 20px;
  font-weight: 800;
}

#title {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#title h3 {
  margin: 0;
}

#green {
  color: green;
  font-weight: bolder;
}

#topmenu {
  font-size: 11px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  margin-right: 100px;
}

#clickAvailable {
  cursor: pointer;
}

#foodtype div.selected {
  color: darkgreen;
  border: 2px solid green;
}

#foodtype {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
}

#foodtype > div {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border: darkgreen solid 1px;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  padding-top: 10px;
  background-color: #eee;
  margin-top: 30px;
  font-weight: bold;
}

#foodtype img {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  flex-direction: column;
  align-items: center;
}

#place {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  justify-content: space-between;
}

#place-text {
  display: flex;
  flex-direction: row;
}

#building {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 12px;
  padding: 2px;
  font-size: 13px;
  width: 120px;
  height: 30px;
}

#recruit-button {
  display: flex;
  background-color: darkgreen;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 5px;
  height: 20px;
  width: 80px;
  margin-left: 15px;
}

#recruit-button > a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: white;
  size: 10px;
  font-weight: bold;
}

#main-screen {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

#delivery-recruitment-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#delivery-recruitment-item {
  width: 38.9vw; /*480px*/
  height: 90px;
  padding: 10px;
  margin: 5px 10px 5px 10px;
  border: #ddd 1px solid;
  border-radius: 10px;
  color: black;
}

#delivery-recruitment-item > h4 {
  width: 100%;
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 5px;
}

#info {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.dot {
  margin-right: 5px;
  margin-left: 5px;
}

#info p {
  margin: 2px;
}

h5 {
  margin-top: 10px;
}

#recruiter-cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  height: fit-content;
}

#cost {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#cost > h4 {
  margin: 5px;
}

#cost > #green {
  margin-right: 5px;
}

/* 로그인 페이지*/
body {
  margin: 0;
  height: 100%;
}

#login-page-whole {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right, white 50%, #087112 50%);
}

#login-page {
  display: flex;
  flex-direction: row;
  font-family: 'Nunito';
  align-items: center;
  margin-left: 0px;
}

#welcome {
  display: flex;
  flex-direction: column;
}

#login {
  display: flex;
  flex-direction: column;
}

#id-pw {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}

#welcome {
  width: 30vw;
  font-size: 1vw;
}

#welcome > strong {
  font-size: 4vw;
}

#login {
  width: 50%;
  margin-left: 100px;
}

#id-pw {
  width: 30vw;
}

#id-pw > p {
  margin-top: 3vh;
  margin-bottom: 1vh;
  font-size: 1vw;
}

#id,
#pw {
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 1.5vw;
  border: 1px #ccc solid;
  border-radius: 8px;
  font-size: 1vw;
}

#login-button {
  margin-top: 5vh;
  margin-bottom: 1vh;
  background-color: darkgreen;
  color: white;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 8px;
  font-size: 1vw;
}

#register-button {
  display: flex;
  justify-content: center;
  font-size: 1vw;
  align-items: baseline;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: black;
}

#register-button > #green {
  margin-top: 1vh;
  margin-left: 0.5vw;
}

#login-register {
  width: 30vw;
}

#login-right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-right-img {
  height: 90vh;
  display: flex;
  margin-right: 3vw;
  align-items: center;
  justify-content: center;
}

#register-box {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito';
  align-items: center;
  font-weight: 800;
}

#register {
  display: flex;
  flex-direction: column;
}

#register-title {
  display: flex;
}

#register-title h2 {
  align-self: flex-start;
}

#register-form {
  font-size: 1vw;
  width: 30vw;
}

label {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

#register-form > div {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  margin-bottom: 1vh;
}

#register-submit {
  width: 30vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
  background-color: darkgreen;
  color: white;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 8px;
  font-size: 1vw;
  font-weight: 800;
}

#wrap {
  width: 50vw;
  margin-top: 30px;
}

#inner-wrap {
  display: flex;
  flex-direction: column;
  border: #ddd 1px solid;
  border-radius: 10px;
  padding: 30px;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: darkgreen;
  border: none;
  color: white;
  size: 10px;
  font-weight: bold;
  padding: 12px;
  border-radius: 5px;
  height: 40px;
  width: 90px;
  margin-left: 20px;
}

#cost-recruit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#participants {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  font-weight: 800;
}

#participant {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

#role {
  color: #666;
  font-size: 8px;
  display: flex;
}

#recruiter {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
}

ul {
  list-style-type: none;
}

#statuslist {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

li {
  font-size: 10px;
}

#participant-list {
  width: 25%;
}

#statuslist > p {
  margin-left: 20px;
}

#status {
  margin-top: 86px;
  margin-bottom: 0;
}

#where {
  font-weight: 800;
  display: flex;
  flex-direction: row;
  gap: 3px;
  margin-bottom: 0;
}

#recruiter-cost > h4 {
  margin-bottom: 10px;
  margin-top: 10px;
}

#main-content {
  margin-bottom: 50px;
}

button[disabled] {
  background-color: lightgray;
  color: gray;
  cursor: not-allowed;
}

#bold-margin {
  margin-right: 20px;
}

#comments {
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-weight: 800;
}

.comment-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.comment-input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 9px;
  resize: none;
}
textarea {
  height: 12px;
}

.comment-submit {
  cursor: pointer;
  height: 34px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#darkgray {
  color: #666;
}
