#topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
  margin-top: 0;
  font-size: 10px;
}

#topbar a {
  color: #666;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin-right: 20px;
}

#title {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#title h3 {
  margin: 0;
}

#green {
  color: green;
  font-weight: bolder;
}

#topmenu {
  font-size: 11px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  margin-right: 100px;
}

button {
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}

button img {
  width: 9px;
  height: 9px;
}

#clickAvailable {
  cursor: pointer;
}

#foodtype div.selected {
  color: darkgreen;
  border: 2px solid green;
}

#foodtype {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
}

#foodtype > div {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border: darkgreen solid 1px;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  padding-top: 10px;
  background-color: #eee;
  margin-top: 30px;
  font-weight: bold;
}

#foodtype img {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  flex-direction: column;
  align-items: center;
}

#place {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  justify-content: space-between;
}

#place-text {
  display: flex;
  flex-direction: row;
}

#building {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 12px;
  padding: 2px;
  font-size: 13px;
  width: 120px;
  height: 30px;
}

#recruit-button {
  display: flex;
  background-color: darkgreen;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 5px;
  height: 20px;
}

#recruit-button > a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: white;
  size: 10px;
  font-weight: bold;
}

#main-screen {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

#delivery-recruitment-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#delivery-recruitment-item {
  width: 38.9vw; /*480px*/
  height: 90px;
  padding: 10px;
  margin: 5px 10px 5px 10px;
  border: #ddd 1px solid;
  border-radius: 10px;
  color: black;
}

#delivery-recruitment-item > h4 {
  width: 100%;
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 5px;
}

#info {
  display: flex;
  flex-direction: row;
}

.dot {
  margin-right: 5px;
  margin-left: 5px;
}

#info p {
  margin: 2px;
}

h5 {
  margin-top: 10px;
}

#recruiter-cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  height: fit-content;
}

#cost {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#cost > h4 {
  margin: 5px;
}

#cost > #green {
  margin-right: 5px;
}

/* 로그인 페이지*/
body {
  margin: 0;
  height: 100%;
}

#login-page-whole {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right, white 50%, #087112 50%);
}

#login-page {
  display: flex;
  flex-direction: row;
  font-family: 'Nunito';
  align-items: center;
  margin-left: 0px;
}

#welcome {
  display: flex;
  flex-direction: column;
}

#login {
  display: flex;
  flex-direction: column;
}

#id-pw {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}

#welcome {
  width: 30vw;
  font-size: 1vw;
}

#welcome > strong {
  font-size: 4vw;
}

#login {
  width: 50%;
  margin-left: 100px;
}

#id-pw {
  width: 30vw;
}

#id-pw > p {
  margin-top: 3vh;
  margin-bottom: 1vh;
  font-size: 1vw;
}

#id,
#pw {
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 1.5vw;
  border: 1px #ccc solid;
  border-radius: 8px;
  font-size: 1vw;
}

#login-button {
  margin-top: 5vh;
  margin-bottom: 1vh;
  background-color: darkgreen;
  color: white;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 8px;
  font-size: 1vw;
}

#register-button {
  display: flex;
  justify-content: center;
  font-size: 1vw;
  align-items: baseline;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: black;
}

#register-button > #green {
  margin-top: 1vh; /* 1%의 뷰포트 높이로 조절 */
  margin-left: 0.5vw; /* 뷰포트 너비의 0.5%로 조절 */
}

#login-register {
  width: 30vw; /* 40%의 뷰포트 너비로 조절 */
}

#login-right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-right-img {
  height: 90vh; /* 부모 요소에 맞게 확장, 높이 조정 */
  display: flex;
  margin-right: 3vw;
  align-items: center;
  justify-content: center;
}
